h1 {
    text-align: center;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }

  body {
    background-color: gray;
  }

  #formulario{
    background-color: darkgrey;
    margin-left: 34%;
    border: solid, black,2px ;
    border-radius: 20px;
  }
  tr th{
    padding-left:30px ;
  }
  td {
    padding: 20px;
  }

  #iniciar {
    margin-left: 50%;
  }
  #tablero {
    animation: pulsar 1s forwards;

    background-image: url("/imagenes/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: centers;
  }
  @keyframes pulsar {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.02);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .animar-tablero {
    animation: pulsar 1s forwards;
  }
  #tablero table{
    padding-left: 30%;
  }
  .cronometro{
    padding-top: 20px;
    padding-left: 10%;
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .contador{
    text-align: center;
   color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
  }

  

  
